# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDEs
.idea/
.vscode/

# Data, Checkpoints, and Logs
sam_ckpts/
cityscale/20cities/
cityscale/processed/
cityscale/sam_ckpts/
spacenet/RGB_1.0_meter/
spacenet/processed/
spacenet/sam_ckpts/
save/
wandb/
runs/

# Temporary / Personal Documents
review.txt
gld_road_paper.txt
